@media ( max-width: 1000px ) {
    .header-background {
        height: 100vh;
        font-size: 16px;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5em;
}

.viewport {
    min-height: 100vh;
    background-color: #181520;
    color: #FFF;
}

.page-title {
    color: rgb(255, 255, 255, 0.7);
    text-align: center;
}

.anchor {
    text-transform: uppercase;
    text-decoration: none;
}

.anchor:hover {
    color: #FFF;
    transition: color 0.2s ease-in-out;
}